# Maven
target/

# IntelliJ IDEA
.idea/
*.iml

# Eclipse
.classpath
.project
.settings/

# VS Code
.vscode/

# Logs
*.log

# Sistema operativo
.DS_Store
Thumbs.db

# Maven Wrapper (si no lo usas)
.mvn/wrapper/maven-wrapper.jar